<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.bluetooth" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <uses-permission
        android:name="android.permission.BLUETOOTH"
        tools:remove="android:maxSdkVersion" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".modules.bluetooth.BluetoothDemoActivity"
            android:launchMode="singleTask"
            android:exported="false" />
        <activity
            android:name=".modules.bluetooth.BluetoothDiscoveryActivity"
            android:exported="false" />
        <activity
            android:name=".modules.bluetooth.BluetoothActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".modules.form.controllers.FormCopyActivity"
            android:exported="false" />
        <activity
            android:name=".modules.dinjection.controllers.DInjectionActivity"
            android:exported="false" />
        <activity
            android:name=".modules.preference.controllers.PreferenceActivity"
            android:exported="false" />
        <activity
            android:name=".modules.form.controllers.FormDatabaseActivity"
            android:exported="false" />
        <activity
            android:name=".modules.form.controllers.DeepLinkActivity"
            android:exported="false" />
        <activity
            android:name=".modules.chat.ChatActivity"
            android:exported="true" />
        <activity android:name=".modules.mvvm.views.MVVMActivity" />
        <activity android:name=".modules.formscroll.controllers.FormScrollActivity" />
        <activity android:name=".modules.form.controllers.FormSimpleActivity" />
        <activity android:name=".modules.fragmentbottomnavigation.controllers.FragmentBottomNavigationActivity" />
        <activity android:name=".modules.fragmentbottom.controllers.FragmentBottomActivity" />
        <activity android:name=".modules.fragment.controllers.FragmentActivity" />
        <activity android:name=".modules.adapter.controllers.AdapterSampleActivity" />
        <activity
            android:name=".modules.main.controllers.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".modules.bluetooth.services.v1.BluetoothSDKService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="true"
            tools:node="merge" />
    </application>

</manifest>